[Desktop Entry]
Encoding=UTF-8
Name=KaraCoin
Comment=KaraCoin P2P Cryptocurrency
Comment[fr]=KaraCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KaraCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/karacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/karacoin;
Categories=Office;
